.range-date-cnt {
  .date {
    max-width: 332px;
    cursor: pointer;
    position: relative;

    .date-input {
      .date-input-cnt {
        width: calc(50% - 8px);
        height: 100%
      }
    }

    .date-picker {
      background-color: var(--white);
      position: absolute;
      width: 100%;
      margin-top: 20px;
      visibility: hidden;
      opacity: 0;
      transition: all .4s;
      z-index: 10;

      .rdrDateRangePickerWrapper {
        .rdrDefinedRangesWrapper {
          display: none;
        }
      }

      .date-picker_bot {
        button {
          width: calc(50% - 6px);
          padding-top: 6px !important;
          padding-bottom: 6px !important;
        }
      }
    }

    .date-picker-act {
      margin-top: 0px;
      opacity: 1;
      visibility: visible;
      transition: all .4s;
    }
  }
}