.table-banner {
  .banner-item__img {
    width: 100px !important;
    object-fit: contain;
  }
}

.itemsContainer {
  box-shadow: 0px 0px 10px 1px rgb(172, 172, 172);
  background-color: white;
  border-radius: 10px;
  width: 450px;
  padding: 1px 10px;
}

.item {
  display: flex;
  border-radius: 5px;
  background-color: rgb(248, 248, 246);
  font-family: 'Roboto', sans-serif !important;

  &Trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background-color: var(--kt-gray-100);
    }
  }

  &Content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
  }
}


.cus-container {
  padding: 0px;
}

.banner-form {
  background-color: var(--kt-card-bg);
  border-radius: 8px;
  box-shadow: var(--kt-card-box-shadow);
  padding: 2rem;

  .drag-banner {
    display: flex;
    justify-content: center;

    label {
      width: 65%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .banner-form__img {
        width: 100%;
        aspect-ratio: 800 / 494;
        background-color: var(--kt-gray-200);
        position: relative;

        .image-value {
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        .placeholder {
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          background-color: var(--kt-gray-200);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          .MuiLinearProgress-root {
            margin-top: 8px;
            width: 75%;
          }
        }
      }
    }
  }

  .row {
    display: flex;

    .col {
      display: flex;
      flex-direction: column;

      .MuiFormControl-root {
        .MuiInputBase-root {
          .MuiInputBase-input {
            padding: 8.5px 14px;
          }
        }
      }
    }
  }
}

.col-video {
  .drag-video {
    position: relative;

    .btn {
      position: absolute;
      z-index: 2;
      top: 5px;
      right: 2px;
    }

    .video-placeholder {
      width: 100%;

      .video {
        width: 50%;
        aspect-ratio: 16 / 9;
        background-color: var(--kt-gray-200);
      }
    }
  }
}